<launch>
<include file="$(find controller)/launch/controller.launch"/>
<!--include file="$(find geometric_controller)/launch/mav_trajectory_track_circle.launch"/-->
<!--include file="$(find geometric_controller)/launch/trajectory_controller.launch"/-->
<include file="$(find mav_trajectory_generation_example)/launch/minimum_snap.launch"/>
<include file="$(find airsim_ros_pkgs)/launch/airsim_node.launch" />
<node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find core)/rviz/racing.rviz" />

<!--node pkg="rosbag" type="record" name="rosbag_record_quad"
       args="record -a -O $(find core)/logging/mission.bag"
/-->

</launch>
